# Data Anywhere config.yaml
# This document provides meta data about columns in a spreadsheet (or database table)
# Each "block" starts with the column header exactly as it appears in data table
## Using a .csv? Run `build_config.py your_data.csv` to jump start the creation of this file!
# You must indent each under the column header by at least one space
# The only required item is `key:` this must have a unique value
## The key should lower case and use-dashes-between-words, a good key is brief
# Multiple categories should be [comma, seperated, in brackets]
---
# This block is for one column
this is a column header: # column header as it appears in the spreadsheet
 readable: Human readable question? # (optional, default: column header text) The friendly question text if different from column header
 key: question-key # machine text for the question, must be unique!
 normalize: answer-parse-function # (default: return value as string) The normalize function to run on the value 
 private: False # (default: False) is this question private?
 default: value to query # (optional) default value to return in query if none is set
 n_a: True # (default: True) accept n/a response?
 category: [medical,category name]

# This is the next column
this is a column header too:
 readable: This is the human readable question?
 key: question-key
 normalize: answer-parse-function
 category: utilities

:
 readable:
 key:
 normalize:
 private:
 default:
...