    <div id="top" class="banner">
      <header class="row">

        <div class="large-12 columns"><h1 class="title"><a href="{{ site.baseurl }}/">Data Anywhere</a></h1></div>
        <div class="large-6 columns">
          <p class="large">VPS + Python Flask + MongoDB<br>Or an easy way to store and share data</p>
        </div>

        <div class="large-6 columns">
          <ul class="button-group radius even-3">
            <!-- <li>
              <a class="button" href="https://github.com/dhornbein/DataAnywhere/zipball/master">Download <strong>ZIP File</strong></a>
            </li>
            <li>
              <a class="button" href="https://github.com/dhornbein/DataAnywhere/tarball/master">Download <strong>TAR Ball</strong></a>
            </li> -->
            <li>
              <a class="button" href="https://github.com/dhornbein/DataAnywhere/issues">Issue<br> Tracker</a>
            </li>
            <li>
              <a class="button" href="https://github.com/dhornbein/DataAnywhere/wiki">Project<br> Wiki</a>
            </li>
            <li>
              <a class="button" href="https://github.com/dhornbein/DataAnywhere">View On<br> <strong>GitHub</strong></a>
            </li>
          </ul>
        </div>

      </header>
    </div>