---
---

{% include header.html %}
    {% include banner.html %}
    <div class="wrapper">
      <section class="row">
		<div class="large-10 small-12 column">
			{{ content }}
		</div>
		<div class="large-2 small-12 column">
			<ul class="side-nav affix" data-spy="affix" data-offset-top="219">
			{% for child_page in site.pages reversed %}
				<li{% if child_page.title == page.title %} class="active"{% endif %}><a data-magellan-arrival="{{ child_page.id }}" href="{{ site.baseurl }}{{ child_page.url }}">{{ child_page.title }}</a></li>
				{% if child_page.title == 'Home' %}
				<li class="divider"></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
      </section>
    </div>
    {% include foot.html %}
{% include footer.html %}