---
---

{% include header.html %}
    {% include banner.html %}
    <div class="wrapper">
      <section class="row">
		<div class="large-10 small-12 column">
			{{ content }}
		</div>
		<div class="large-2 small-12 column">
			<ul class="side-nav">
				<li><a href="./">Home</a></li>
				<li><a href="./setup.html">Setup</a></li>
				<li class="divider"></li>
				<li><a href="./server_setup.html">Server Setup</a></li>
			</ul>
		</div>
      </section>
    </div>
    {% include foot.html %}
{% include footer.html %}